@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root{
    --baseColor: white;
    --firstColor: #324B4C;
    --secondColor: #068488; 
    --styledFont: 'Gloria Hallelujah', cursive;
    --secondFont: 'Montserrat Alternates', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: var(--baseColor);    
}

label, input{
    font-family: var(--secondFont);
}
.btn{
    background-color: var(--firstColor);
    color: var(--baseColor);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    font-family: var(--secondFont);
}
.btn-login{
    background-color: var(--secondColor);
}
